<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Parsers">
            <file>./test/unit/League/SemVer/RegexParserTest.php</file>
            <file>./test/unit/League/SemVer/CachingParserTest.php</file>
        </testsuite>
        <testsuite name="Version">
            <file>./test/unit/League/SemVer/VersionTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout" lowUpperBound="35" highLowerBound="75" />
    </logging>
</phpunit>